ivoatexmeta.tex
gitmeta.tex
role_diagram.svg
#role_diagram.pdf
ExecutionBroker.pdf
draft-background.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.html
*.log
*.out
*.swp
*.toc
*.zip

# OS-specific
.DS_Store
